---
layout: default
title: Home
---
<section class="b-posts">
    <ul class="b-posts-ls">
        {% for post in paginator.posts %}
        <li class="b-posts-i">
            <h2 class="b-posts-i-title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p class="b-posts-i-excerpt">{{ post.excerpt }}</p>
            <span class="b-posts-i-date">&mdash; {{ post.date | date_to_string }}</span>
        </li>
        {% endfor %}
    </ul>
</section>

{% include pagination.html %}