<footer class="l-footer">
    <div class="l-container">
        &copy;&nbsp;<a href="{{ site.url }}">instanceof.pro</a>, {{ site.time | date: '%Y' }}
        &mdash; <a href="{{ site.links.github }}">Github</a>
        &bullet; <a href="{{ site.links.linkedin }}">LinkedIn</a>
        &bullet; <a href="{{ site.links.twitter }}">Twitter</a>
        &bullet; <a href="{{ site.links.rss | prepend: site.baseurl | replace: '//','/' }}">RSS</a>
        &bullet; <a href="{{ site.links.about | prepend: site.baseurl | replace: '//','/' }}">Об авторе</a>
    </div>
</footer>

{% if site.social %}
    <script src="{{ site.public.scripts | prepend: site.baseurl | replace: '//','/' }}/share.min.js?v={{ site.version }}"></script>
{% endif %}