<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}{{ site.public.images }}/{% if page.image %}{{ page.image }}{% else %}author.png{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">


    <link rel="stylesheet" href="{{ site.public.styles | prepend: site.baseurl | replace: '//','/' }}/styles.min.css?v={{ site.version }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="{{ site.public.images | prepend: site.baseurl | replace: '//','/' }}/favicon.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.public.images | prepend: site.baseurl }}/apple-touch-icon-144-precomposed.png" sizes="144x144" />

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
