<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">


    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.public.styles | prepend: site.baseurl | replace: '//','/' }}/styles.min.css?v={{ site.version }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Mono|PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic' type='text/css'>

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ site.public.images | prepend: site.baseurl }}/favicon.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.public.images | prepend: site.baseurl }}/apple-touch-icon-144-precomposed.png" sizes="144x144" />

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
