hr {
    border: none;
    height: 1px;
    background-color: $color-gray-f0;
    margin-bottom: 2rem;
}

img {
    width: 100%;
}

%gray-italic {
    color: lighten($color-base, 30%);
    font-style: italic;
}