.b-pages {
    position: relative;
    @include clearfix();
    margin-bottom: 2rem;

    &__prev,
    &__next {
        width: 45%;
        position: relative;

        &:before {
            position: absolute;
        }
    }

    &__prev {
        float: left;

        &:before {
            content: '\2190';
            left: -1.5rem;
        }
    }

    &__next {
        float: right;
        text-align: right;

        &:before {
            content: '\2192';
            right: -1.5rem;
        }
    }
}