// --- fonts
$font-sans: 'Fira Sans';
$font-mono: 'Fira Mono';

// --- images
$base-image-url: '../images';

// --- layout
$layout-stripe: 0.5rem;
$layout-width: 50rem;
$footer-height: 6rem;

$logo-size: 5rem;