table {
    width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse;
}

td,
th {
    padding: .25rem .5rem;
    border: 1px solid darken($color-gray-f0, 5%);
}

tbody {
    tr:nth-child(odd) {
        td,
        th {
            background-color: $color-gray-f0;
        }
    }
}