.highlight, pre, code {
    font: 0.875rem $font-family-mono;
}

%highlight-container {
    border-radius: 3px;
    background-color: $color-gray-f0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

code {
    padding: .25em .5em;
    color: $color-red;
    @extend %highlight-container;
    font-style: normal;
}

pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    box-shadow: none;
}

.highlight {
    @extend %highlight-container;
    padding: 1rem 2rem;
    margin: 0 -2rem 2rem -2rem;

    pre {
        margin: 0;
    }

    .c,
    .c1,
    .cm,
    .cp,
    .cs {
        color: $color-hl-comments;
    }

    .k,
    .kc,
    .kd,
    .kn,
    .kp,
    .kr,
    .kt {
        color: $color-hl-keyword;
    }

    .m,
    .mf,
    .mh,
    .mi,
    .mo,
    .il {
        color: $color-hl-number;
    }

    .nd,
    .ni,
    .ne,
    .nl,
    .nn,
    .nb,
    .nc,
    .nf,
    .no,
    .nt,
    .nv,
    .bp {
        color: $color-hl-name;
    }

    .o,
    .ow {
        color: $color-hl-string;
    }

    .s,
    .s1,
    .s2,
    .sb,
    .sc,
    .sd,
    .se,
    .sh,
    .si,
    .sr,
    .ss,
    .sx {
        color: $color-hl-string;
    }

    .gd
    .ge,
    .gr,
    .gh,
    .gi,
    .go,
    .gp,
    .gs,
    .gu,
    .gt {
        color: $color-hl-generic;
    }

    .vc,
    .vg,
    .vi {
        color: $color-hl-variable;
    }

    .css {
        .n, {
            color: $color-hl-keyword;
        }
    }

    .scss {
        .nv {
            color: $color-base;
        }

        .na {
            color: $color-hl-keyword;
        }
    }
}