html,
body {
    @include size(100%);
}

body {
    background-color: $color-body;
    color: $color-base;
}

.l-layout {
    @include size(100%);
    height: auto !important;
    min-height: 100%;
}

.l-push {
    height: $footer-height;
}

.l-header {
    border-top: $layout-stripe solid $color-link;
}

.l-body {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.l-footer {
    height: $footer-height;
    margin-top: -$footer-height;
    background-color: $color-footer;
    padding-top: 2.25rem;
}

.l-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    @include clearfix();
}

@media (min-width: 56rem) {
    .l-container {
        max-width: 50rem;
    }
}