.b-logo {
    @include size($logo-size);
    margin: 1rem 1rem 1rem 0;
    float: left;
    border-radius: 50%;
    @include background('author.png');
    box-shadow: 0 0 0 .25rem $color-link;

    a {
        border: none;
        display: block;
        @include size($logo-size);
    }

    &:hover {
        background-color: $color-link;

        a {
            &, &:hover {
                color: $color-body;
            }
        }
    }
}