// --- posts list
.b-posts {
    &__ls {
        list-style: none;
        padding: 0;
    }

    &__i {
        display: block;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-footer;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            display: none;
        }
    }

    &__title,
    &__description {
        margin-bottom: .5rem;
    }

    &__date {
        color: $color-subhead;
    }
}

// --- single post
.p-post {
    &__header {
        margin-bottom: 2rem;
        text-align: center;

        h1 {
            margin-bottom: .5rem;
        }
    }

    &__date {
        color: $color-subhead;
    }

    &__content {
        margin-top: 2rem;
    }

    &__image {

    }
}







