.b-social {
    @include size(96px, 32px);
    margin: 0 auto 2rem auto;
    background-color: $color-link;
    //@include background('social.png');

    &__ls {
        @include blocks-list(inline);
    }

    &__i {
        cursor: pointer;
        @include size(32px);

        &:before {
            display: none;
        }

        &--vk {
            background: $color-vk url('#{$base-image-url}/social.png') 0 0 no-repeat;
        }

        &--tw {
            background: $color-tw url('#{$base-image-url}/social.png') -32px 0 no-repeat;
        }

        &--fb {
            background: $color-fb url('#{$base-image-url}/social.png') -64px 0 no-repeat;
        }
    }
}