.b-title {
    float: left;
    height: $logo-size;
    margin: 1rem 0;

    p {
        display: block;
        font-size: 2rem;
        margin-bottom: 0;
    }

    span {
        color: $color-subhead;
    }
}