---
layout: default
---

<article class="p-post" role="main">
    <header class="p-post__header">
        <h1>{{ page.title }}</h1>
        <span class="p-post__date">{{ page.date | date: "%d/%m/%Y" }}</span>
    </header>
    <hr />
    <section class="p-post__content">
        {{ content }}
    </section>
</article>

{% if site.social %}
<hr />
<div class="b-social js-social" data-title="{{ page.title }}">
    <ul class="b-social__ls">
        <li class="b-social__i b-social__i--vk" data-type="vk"></li>
        <li class="b-social__i b-social__i--tw" data-type="tw"></li>
        <li class="b-social__i b-social__i--fb" data-type="fb"></li>
    </ul>
</div>
{% endif %}

{% if site.related_posts %}
<hr />
<div class="b-related">
    <h3 class="b-related__header">Похожие записи</h3>
    <ul class="b-related__ls">
        {% for post in site.related_posts limit:5 %}
        <li class="b-related__i">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if page.previous or page.next %}
<hr />
<div class="b-pages">
    {% if page.previous %}
    <div class="b-pages__prev">
        <a rel="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//','/' }}">{{ page.previous.title }}</a>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="b-pages__next">
        <a rel="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//','/' }}">{{ page.next.title }}</a>
    </div>
    {% endif %}
</div>
{% endif %}

{% if site.comments %}
    {% include comments.html %}
{% endif %}